body {
	background-color: #4e0250;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

h1 {
	font-size: 5em;
	color: #d8d8d8;
	font-family: 'Comic Sans MS', cursive, sans-serif;
	text-shadow: 2px 2px 0px #ff00ff, -2px -2px 0px #00ffff;
	animation: shake 0.8s ease-in-out infinite;
}

@keyframes shake {
	0% {
		transform: rotateZ(0deg);
	}
	25% {
		transform: rotateZ(5deg);
	}
	75% {
		transform: rotateZ(-5deg);
	}
	100% {
		transform: rotateZ(0deg);
	}
}

a {
	position: absolute;
	top: 20px;
	right: 20px;
}
